## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [ ]:
samples = np.random.normal(100, 15, 1000)
samples

array([ 87.91726001, 107.98888874, 117.46476323,  95.75621992,
       119.10248728, 113.69188432, 127.11366942, 131.51209742,
       112.52180285, 110.25888697,  92.32013484,  79.88191954,
        96.87743598, 104.02296144, 104.68151007,  67.04559184,
        95.51061134, 103.13882622, 112.71911029, 104.34889841,
        93.37477193, 106.20744087, 108.43683432,  81.5795588 ,
       103.11461993, 115.34547618,  75.037193  , 117.73231862,
       105.06684903, 101.83178609, 116.45908154, 107.62667526,
        72.38615338,  90.70139425, 109.93867694, 108.58807611,
        70.81538539, 114.50739252,  88.72518153,  70.32299113,
        82.77567562,  79.4695614 ,  70.86827136,  87.55575657,
       103.15382635, 103.70377516,  82.25410059,  90.1158126 ,
        95.85290678,  93.19593773, 113.58187296, 128.87053947,
       108.20363966, 108.56201794, 114.21050018,  94.18300273,
       118.05664756,  82.56929822, 102.43726336, 121.48739587,
       105.89896072, 130.60153297,  73.31792863,  80.3752422 ,
        83.01318628, 113.60957157, 108.82000357,  91.38426151,
        92.74692864,  84.14648798, 100.46071019,  98.54877677,
        95.54288385,  85.84504369, 107.6881365 , 101.88795783,
       104.98690535,  96.08283535,  84.78333303,  88.74467974,
       110.38587236, 106.69471277, 102.84149683,  84.41533177,
       104.46413295,  98.48721802, 126.49873049, 101.76394007,
       119.6589662 ,  89.68868046, 104.80214413,  91.67506026,
        94.1478611 , 100.07158821,  81.21049576,  86.1043022 ,
       122.49844399,  86.16079991,  97.00026245, 101.0455185 ,
       105.06540657, 127.61599066,  66.12487109, 109.3205819 ,
       103.65350189, 100.95757879,  89.70326634,  96.81942218,
       101.08596795, 101.44981923,  93.81624342,  90.22005707,
       103.53409431, 115.14966658,  74.26498056,  98.75416819,
        92.30522572, 112.25791626,  80.75554184,  77.82081208,
       116.17405149,  96.01035654, 103.98794459, 130.6676961 ,
       113.21233221,  97.80341301, 117.86493444, 114.31165627,
        87.70717665,  97.64146795, 110.38824101, 104.64650103,
       112.9337135 ,  91.85187822,  87.05888155, 111.51299224,
       121.2081489 ,  75.71652679, 138.33184714,  95.1216928 ,
        94.41872857, 101.82406385, 112.39801206, 107.77955394,
        95.60312744, 102.89371389,  72.80931356, 107.56817955,
       103.29619368,  96.51648221,  73.87456503, 119.7912645 ,
       100.57983682, 102.10639939,  84.80901912,  89.51420776,
       103.41181985,  99.29934882,  96.06108063, 111.69580618,
       104.63598645,  90.94899523,  93.65323421, 120.72854922,
        90.30974553,  97.75455522,  89.91748895,  94.65894821,
       107.0785571 , 114.1590784 , 102.18910442, 107.7400647 ,
        86.76614224, 107.55599066, 101.60990422, 129.98840827,
       106.30874029, 111.67669128,  95.0955918 ,  71.16160507,
        71.79616473, 114.33822286, 100.49649894, 115.94396338,
       114.79847176, 103.91306256, 112.9839466 , 108.74523445,
       108.48623546,  95.2550349 ,  83.92860368,  94.35112173,
        82.78213587, 103.70889008,  91.75993134,  86.83110662,
       100.6579807 , 115.58149225, 116.56025749,  94.5313999 ,
        96.60326188,  83.61873761,  72.23098355, 118.0210619 ,
        88.04190385, 118.67749777, 118.80251887, 107.50019041,
        72.51942423,  92.31037148, 106.32690614, 111.21779484,
       110.61881729, 109.21306062,  81.2708077 ,  82.93040463,
       118.0062437 ,  85.77935072,  84.77037911,  91.9011592 ,
        89.82888182, 124.15125752, 105.54239633, 111.76867523,
       121.13010329,  96.00685149, 118.28020133, 110.1679545 ,
        78.73450165,  92.85608181,  92.19932294, 102.2170825 ,
       101.77936336, 109.16600065, 101.10241478,  97.79366027,
       111.20668534, 107.0425    ,  90.55737633, 101.39402122,
        74.42594947,  93.02143555, 109.57211524, 110.74074395,
       111.94632088, 107.09275086,  99.44359771,  89.44319545,
        63.19655704, 107.06321483,  94.72336912, 110.10557328,
        77.83160163, 114.7696916 , 122.57282905,  37.07078231,
       106.24406501,  83.15289625,  88.38923547,  81.66996772,
       116.99444837, 116.74427992, 112.54747886,  61.98425389,
       116.86781918, 121.48502346,  56.47999599,  94.97689787,
        88.63697485,  96.84208637,  68.85376289, 106.86933109,
       139.43592328, 107.91763126, 103.60044365,  76.01279081,
       135.87384534, 118.79137039,  99.05556361,  99.77386618,
       125.18235137, 115.24571082, 116.97234496, 114.90480763,
        77.31864306, 117.45853193, 114.07641363, 111.42797251,
        99.19549835,  73.75286074,  85.42934166,  89.63078197,
       118.94129034,  94.06702937, 115.57115066, 127.2835093 ,
       103.23130123,  92.92617699, 104.28593567,  80.80584031,
        84.00094609, 120.01016102,  95.80630323,  99.58152386,
        89.23658068, 118.0671572 , 114.48912109,  77.42924778,
        83.31704125, 127.9053752 ,  92.27258102,  99.9316031 ,
        75.58519335, 109.88326349,  82.1243826 ,  86.07180481,
        93.24955037, 107.09221567, 116.45008158,  95.17947969,
        96.0612838 ,  79.62602747,  83.54451201,  83.7291787 ,
       117.49500461, 106.47916192,  98.34362515,  91.32818904,
        89.45768727, 107.14282872, 101.82610115, 111.61093272,
        97.12080068,  68.63770577,  93.33304123, 100.75805399,
        83.68336401, 117.78356631,  94.34522825,  79.40325032,
        90.61370161,  90.93148826, 103.32254664, 104.53480923,
        82.88418452,  75.20731207,  79.21377676,  81.28393081,
       109.76450498,  95.33826484, 112.32134157,  94.44903091,
        81.1429153 ,  96.95269643,  85.9629359 , 116.77226281,
       102.40329976, 103.55466622, 108.65663174, 122.06344535,
       108.86438153, 109.60931775,  95.68255853,  79.78431125,
       118.97349501,  97.55124061,  96.91558001, 100.360994  ,
       109.59923079, 126.61972014, 102.07050325, 112.1359163 ,
       116.92896608,  89.58425037, 120.790281  ,  83.92585408,
        92.66200555,  46.71079332, 103.81616654,  98.34687327,
       109.16865218, 106.28289159,  56.07500515,  79.25911433,
       118.13542507, 109.1498587 ,  73.20224571, 125.69261598,
       117.42921368,  88.1668312 , 112.6136612 ,  90.35743085,
       119.62229409, 111.04927343,  73.36072417, 131.13295539,
       105.59031445, 104.74339406, 118.99106812,  85.91251794,
        94.80458747, 118.51448747, 114.72151479, 101.31488773,
       100.51408428, 120.05174864, 123.34129035,  75.83582716,
        82.66892847, 101.31559062, 118.45596427, 102.25174355,
        93.44965329, 112.77703758, 121.58005526, 106.52169729,
       104.17240621,  95.97045193,  89.05611251,  96.62508161,
        95.04689542,  72.66321362, 101.5979439 ,  94.9230611 ,
       103.27533969,  82.77794255, 115.93115984, 109.55062736,
       112.68617145, 106.08891704, 111.14337031,  87.86963805,
        91.9378652 , 100.24555768,  89.55141498,  91.21288854,
       101.74739033,  94.716306  ,  96.33946172, 101.16641653,
       108.42008711,  97.76148344,  88.24066657, 109.23316883,
        97.79728281, 122.16333791, 129.29313319,  81.18556238,
       107.07054734, 103.59518078, 110.84093072,  95.79273381,
       110.72787342, 111.80218958,  80.95310216, 114.86877188,
        99.16285841, 126.98836854,  90.42699364, 117.20363359,
       100.28609647,  89.65423315,  89.66488315, 126.43019823,
        91.71414463,  99.29582243, 111.78191403,  95.42878365,
        97.84807584, 105.1659789 , 104.15740482,  83.71391195,
        87.20499378, 104.3306038 ,  97.86531761, 135.29110345,
       104.74332987,  98.47123836, 128.64536027,  93.82604565,
        92.40136045,  89.94111983,  87.42341708,  88.64773151,
        82.81578867, 109.61539939,  74.50868242,  77.08390445,
       125.02678573, 120.91291496,  81.94720719,  82.6637387 ,
        97.0434401 ,  98.01841491,  90.68591666,  93.02139051,
       107.83663899,  94.87740659,  85.94734133, 120.93917421,
        89.77884417, 118.1202022 ,  72.26372813, 107.61947294,
        99.01607597,  76.81063612,  94.08963149,  90.31632083,
       102.49670304,  90.64926215,  87.89387239,  62.83897031,
       101.08805722,  90.5287106 , 116.79822478, 113.1504274 ,
       122.83578842, 103.58143591, 119.60659507, 103.64192717,
       123.54583232,  99.73621364,  94.18849202,  89.93901285,
        94.91508782,  94.26122579,  97.19517436,  95.28377741,
        75.17249706,  89.98758978,  83.6780095 ,  96.07527928,
        91.28565503, 106.42185415,  86.24721039,  73.12883426,
       108.47985   , 118.8645766 ,  93.68259086, 108.6343958 ,
        70.8595106 , 117.55370531,  88.48359722, 108.0299992 ,
        99.7651826 ,  81.02310297,  69.9804338 ,  98.16331807,
       101.50680362, 108.85056566, 111.07391959,  93.62396927,
       104.34355303,  84.10867924, 102.24785396,  87.15937   ,
        96.07166357, 125.80946602,  91.20946019, 114.23655105,
        75.21303629, 105.29391992,  99.69699383, 108.02973323,
       105.86011365, 107.8641506 ,  97.73258707, 146.15063473,
        87.63573805, 117.3658312 ,  89.92495194,  76.82905371,
        99.57876013,  80.1675844 , 101.08182048,  87.46201462,
        89.09740812, 109.53168045, 124.20186203,  91.64304783,
       102.28248549, 109.48977316, 104.16438975, 101.16730619,
       119.24697612, 112.93940707,  85.90679957, 119.78478354,
       109.95187695, 108.17625203, 100.3173269 , 101.85138606,
       121.614388  ,  54.99836402,  99.50276369,  77.59182317,
       103.99478005, 105.49159832,  84.78382437, 160.44666196,
        75.035929  , 121.64894892,  95.04312978, 107.21409487,
        95.4365229 ,  99.20463784,  87.17487364,  88.10188539,
       119.38907468,  79.24979966,  92.95500929, 116.61889354,
       117.64223155,  99.61257942,  78.90158955, 110.31077905,
       105.86577764, 121.06994684,  82.62032493,  81.2978043 ,
       113.32434902,  98.74922608,  86.1859555 , 101.69479445,
       101.89628435, 111.12169036,  81.58009451,  96.78504639,
        99.58139443,  88.0581707 ,  84.14205473, 120.23247865,
       129.44756822, 110.03941954,  78.0645145 ,  98.83094268,
        62.07361644,  96.74707918, 105.65372411,  76.13667795,
       113.05137397, 108.61679113,  84.9274366 ,  85.78344109,
        83.52367543,  85.46216802,  95.1645878 , 113.03151883,
       108.49115302, 113.40636011,  88.72884283,  91.26172036,
        94.87496477, 126.69733021,  96.35492035,  94.91094401,
       108.8281972 , 108.78308603,  94.86499703,  76.78723267,
        82.85043683, 107.4328198 ,  83.62496134,  83.79289689,
       108.30486377, 102.13011742,  93.32783189, 100.30166835,
       110.17515083,  88.02121032,  97.37191767,  89.40884825,
       116.42167174,  75.6143518 , 123.23310887, 109.96550133,
       108.57437404,  94.35981308,  93.47919529,  93.61630373,
        95.32315848, 119.70238435,  94.95061063,  80.44333945,
       104.16157147,  98.10233964, 135.34299921,  92.49762238,
        97.68199233, 109.93087284,  97.49415111, 110.81396851,
        97.12409642,  92.92086394, 112.43694356, 103.52867325,
        85.75541425,  94.24458378,  76.85674913, 118.62550844,
        67.59235485, 129.96131256, 108.7770593 ,  92.36439648,
       106.56542403, 122.55190258,  98.20955588, 104.50305149,
        76.24608125, 104.17740409, 117.96251907, 113.59554752,
       123.78380893, 127.71302996, 117.15731552,  95.57448369,
        86.37208222, 103.37456295,  96.35236267,  85.00427772,
        87.88561481, 105.11491797,  69.22590848, 112.70521528,
       107.17583657,  85.57377912, 112.83916483, 118.50314275,
        84.60903978,  89.99727349,  78.55590453,  87.22122653,
       102.88815482,  86.04535677,  97.66653783,  83.7112058 ,
        80.80182527,  88.02842938,  80.76464633,  77.48908972,
       110.02745191,  77.67176316, 129.86177221,  97.24687349,
        71.39558995, 101.65819938, 120.68752509,  98.67488175,
       109.43295094, 106.8366122 , 118.66640705, 100.60592946,
       109.49599146,  77.24599545, 123.7612412 , 122.99516902,
        77.10244671, 130.09880043, 115.61440406,  83.26371022,
       100.97721764, 117.18227693,  86.04825983,  91.68816816,
        70.39361027, 118.39502791,  88.48266381,  66.06570919,
        79.7168829 ,  69.08396501,  97.47466027,  86.44111985,
       103.78158258,  99.39749012,  94.82209025, 114.16146367,
        89.33686759,  96.70235178, 123.442164  , 120.15100265,
       124.96445223,  88.71287136,  86.3126811 ,  88.36532476,
        88.62617788,  93.788991  , 101.86563125, 100.5927341 ,
       107.08371429,  88.55460906, 104.4750878 ,  80.90131214,
       107.38544141,  93.65501297,  94.35584942,  98.91280181,
        90.7356959 , 132.39824156,  94.42933861, 100.65484272,
       100.68296562, 112.25579387, 100.62680877, 104.73749391,
       117.19153997, 100.83908535, 103.1350427 ,  82.31640138,
       115.21347147,  84.60835693, 144.26088954, 108.52298724,
        83.69447606,  97.74276844,  98.60848086, 101.14593457,
        87.14832342,  89.67198672, 105.48682213,  81.4970752 ,
        90.62606468,  89.20309791,  77.70043708, 103.46085798,
        99.44689804, 107.57703602, 110.71046744,  92.80270132,
        92.69791769, 103.60299913, 109.29538006,  94.25563113,
       110.00338031,  90.89333731, 111.68355534,  87.30367646,
        96.4246488 ,  86.42847804, 105.95184513,  98.78103   ,
        92.8706713 , 104.0013587 , 109.64208269, 104.72043428,
       112.57378015,  81.01269554,  91.91359222,  97.45998683,
        83.38012412, 100.95737451, 113.04204647, 104.38667224,
        95.5127865 ,  83.86407647, 116.57467807,  94.71982771,
        90.8732335 , 115.85841315, 131.49439167, 114.53753651,
        81.82426883, 112.89288907, 113.62856558, 101.6960633 ,
        86.13533662,  84.55254029,  99.86280431,  99.75787475,
        90.8119623 ,  95.3841294 , 133.91758762, 110.09840607,
        93.31119666, 120.38990333, 109.23816882, 100.18731605,
        92.32767275, 101.13594409,  71.00678804, 103.78032837,
        94.74558872, 112.49727405,  92.52754546, 131.39258051,
        95.28333775, 136.74238386, 102.4495802 ,  89.63695565,
       102.86426356, 122.07551592, 115.21849166, 114.5316829 ,
        89.55854087,  55.17761846,  96.10522934, 113.04480672,
        88.1191296 , 101.43461971,  87.76399272, 126.32940444,
        97.39808549,  67.98919856, 107.8620993 ,  95.13194779,
       103.45314021, 102.05180551, 120.15694476, 107.25224405,
        99.80863192,  93.19012781,  71.65074708, 101.39297732,
        95.05349198, 119.47490963, 117.82219511,  98.16281782,
       103.64899838,  91.14843272, 102.97157976,  89.79400655,
       120.57222124, 134.35779776,  71.36238986, 124.05613167,
       102.79858396, 121.63458137,  95.68842054,  95.20309334,
       114.3093488 ,  97.41490369,  95.49270398,  92.66287099,
       110.48045459,  73.13537395,  99.69749429, 110.21910573,
        91.22395242,  63.58948459,  91.93186653, 127.45857939,
        84.87229274,  82.66722746, 119.35768895,  94.48091883,
       110.5293694 , 110.51993382, 104.61009138, 119.34646914,
       104.4578761 ,  83.48264403,  87.49871928,  92.86028133,
        72.14479755,  72.33881828,  93.00878986, 112.16697811,
        86.39730212, 103.86455763,  83.33961868,  95.20360957,
       106.18332816, 107.85440083,  99.07472657, 102.89048916,
        85.29609753, 110.61233069,  99.64836706, 108.34896363,
        91.15887182, 100.40349866, 132.30315844,  93.87333523,
       113.96399249, 122.28778549, 100.72593583,  89.09634682,
        83.04870029, 109.57061823, 102.37728681, 131.50678019,
        91.06330019, 101.8537003 ,  91.98867037,  99.03602974,
        88.1548292 , 110.72584517, 130.29160819, 110.89975888,
        63.47378082, 119.81419938, 107.70387937,  86.48009772,
        79.50711725,  67.76328922,  74.8451914 ,  99.57510804,
       111.16637121,  82.091203  , 100.89183518,  82.8162959 ])

Compute the **mean**, **median**, and **mode**

In [ ]:
mean = np.mean(samples)
median = np.median(samples)
mode = stats.mode(samples)
print(mean)
print()
print(median)
print()
print(mode)

99.672050151899

99.76152867465606

ModeResult(mode=array([37.07078231]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [ ]:
min = samples.min()
max = samples.max()
q1 = np.percentile(samples, 25)
q3 = np.percentile(samples, 75)
iqr = q3 - q1
iqr1 = stats.iqr(samples)

print("min = ",min)
print()
print("max = ",max)
print()
print("q1 = ", q1)
print()
print("q3 = ", q3)
print()
print("iqr =", iqr)
print()
print("iqr1 = ", iqr1)

min =  37.07078230906858

max =  160.44666195584608

q1 =  89.57782299156159

q3 =  110.03044381628847

iqr = 20.45262082472688

iqr1 =  20.45262082472688

Compute the **variance** and **standard deviation**

In [ ]:
variance = np.var(samples)
std_dev = np.std(samples)
print("vairance =", variance)
print()
print("std_dev = ", std_dev)
print()
print(np.sqrt(np.var(samples)))

vairance = 233.4833218964766

std_dev =  15.280161055973089

15.280161055973089

Compute the **skewness** and **kurtosis**

In [ ]:
skewness = stats.skew(samples)
kurtosis = stats.kurtosis(samples)
print("skewness =",skewness)
print()
print("kurtosis =", kurtosis)

skewness = -0.06590028797647153

kurtosis = 0.2846214179409432

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [ ]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [ ]:
y = np.random.randint(10, size=10)
y

array([4, 1, 4, 8, 4, 6, 1, 8, 2, 7])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [ ]:
x = np.arange(5)
y = np.arange(5,10)
print(x)
print(y)
r = np.correlate(x, y)
r

[0 1 2 3 4]
[5 6 7 8 9]

array([80])

## Pandas Correlation Calculation

Run the code below

In [ ]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [ ]:
r = pd.Series.corr(x, y, method="pearson")
r

0.7586402890911867

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [ ]:
rho = pd.Series.corr(x, y, method="spearman")
rho

0.9757575757575757

## Seaborn Dataset Tips

Import Seaborn Library

In [ ]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [ ]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [ ]:
x = pd.DataFrame.describe(tips)
x

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [ ]:
r = tips.corr(method="pearson")
r

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000